# SUPABASE CONFIG
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

# CLOUDINARY CONFIG
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_URL=

# GEMINI CONFIG
VITE_GEMINI_API_KEY=